node_modules/
dist/
.DS_Store

# Themes
example.css
example-index.json
custom-theme.css
themes/
*.theme.css
*.theme.json
theme-*.css

# Plugins
plugins/
*.plugin.js
*.plugin.json
plugin-*.js
atomic-plugin*
atomic-s3-viewer*
atomic plugin - *

